node_modules
dist
bower_components
env
*.log
*.pyc
*.sqlite
.publish
build
*.db
config.json

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

