extend layout

block content
  .container.pad-150px
    .col-md-12#choose_setup
      .square-box.col-md-3.col-md-offset-2
        .square-content
          div
            span.choose_setup#simple-freetier Freetier setup
      .square-box.col-md-3.col-md-offset-2
        .square-content
          div
            span.choose_setup#nat-ha High availibility setup