container_commands:
  01_migrate:
    command: "/opt/python/run/venv/bin/python manage.py migrate --noinput"
    leader_only: true
  02_create_adminuser:
    command: "/opt/python/run/venv/bin/python manage.py create_adminuser"
    leader_only: true
  03_collectstatic:
    command: "/opt/python/run/venv/bin/python manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "testproject.settings"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: testproject/wsgi.py
    NumProcesses: 3
    NumThreads: 10