files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01applicationgroup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # Add WSGIApplicationGroup so lxml does not time us out

      if ! grep -q 'WSGIApplicationGroup %%{GLOBAL}' /opt/elasticbeanstalk/hooks/config.py ; then
        sed -i -e 's/\(WSGIProcessGroup wsgi\)/\1\nWSGIApplicationGroup %%{GLOBAL}/' /opt/elasticbeanstalk/hooks/config.py 
      fi
      rm /opt/elasticbeanstalk/hooks/config.pyc